.todos{
    display: flex;
    flex-direction: column;
}
.todos__frame{
    position: relative;
    display: flex;
    width: 562px;
    flex-direction: column;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.todos__frame::before{
    content: "";
	position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    top: 100%;
	left: 2px;
	right: 2px;
	height: 5px;
	z-index: -1;
}

.todos__frame::after{
    content: "";
	position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    top: 100%;
	left: 4px;
	right: 4px;
	height: 10px;
	z-index: -2;
}

