.todos__header{
    display: flex;
}
.title{
    width: 562px;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: #CCCCCC;
}