html, body {
    margin: 0 auto;
    padding: 0;
}
h1{
    margin: 0;
    font-weight: 400;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input[type = "text"]{
    border: 0 none;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}
input[type = "text"] :: ::placeholder{
    color: rgb(122, 122, 122);
}
button {
    border: 0 none;
    background-color: transparent;
}
section{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #E6E6E6;
    min-height: 63px;
    align-items: center;
}