.tasks-list{
    display: flex;
    flex-direction: column;
}
.task-item{
    display: flex;
    flex-direction: row;
}
.task-item__view{
    display: flex;
    width: 562px;
    height: auto;
    min-height: 64px;
    border: 1px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #E6E6E6;
}
.task-item__status{
    width: 40px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.task-item__delete{
    margin-left: auto;
}
.task-item__text{
    width: 480px;
    margin: 9px;
    word-break: break-all;
}