$color_gray1: #fff;
$color_gray2: #f2f2f2;
$color_gray3: #e6e6e6;
$color_gray4: #ccc;
$color_gray5: #888;
$color_gray6: #666;

$color_bg: $color_gray1;
$color_shadow: $color_gray3;
$color_title: $color_gray4;
$color_text: $color_gray5;
$color_button: $color_gray5;
$color_border: $color_gray5;

