@import "_vars.scss";

.upper-functions{
    display: flex;
    flex-direction: row;
}
.upper-functions__select-all-button{
    position: relative;
    width: 40px;
    height: 39px;
    margin: 3px 3px 3px 4px;
    padding: initial;
    background-image: url(../icons/select-all.svg);
    background-color: $color_bg;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    font-size: 0;
    
}
.upper-functions__create-new-textinput{
    width: 507px;
    min-height: 66px;
    height: auto;
    font-family: Roboto;
    font-style: italic;
    font-size: 20px;
    color: $color_gray6;
}
